@import "../mixin.scss";
@import "../style.scss";

.evente-meetup {
  &-wrap {
    position: relative;
    z-index: 1;

    &-banner {
      height: 500px;
      width: 100%;
      background: url('~assets/images/pc/meetup/banner.png') no-repeat center top;
      background-size: auto 100%;

      &-content {
        width: 1200px;
        margin: 0 auto;
        padding-top: 206px;
        text-align: left;

        &-title {
          font-family: 'PingFangSC-Medium';
          font-size: 38px;
          color: #333;
          line-height: 42px;
        }

        &-txt {
          font-family: 'PingFangSC-Regular';
          font-size: 20px;
          color: #333;
          line-height: 24px;
          margin-top: 20px;
          margin-bottom: 32px;
        }

        &-button {
          background-color: #1969f9;
          width: 140px;
          height: 48px;
          border-radius: 4px;
          font-family: 'PingFangSC-Medium';
          font-size: 18px;
          transition: transform 0.6s, background 0.6s;

          &:hover {
            transform: scale(1.02);
            transition: transform 0.6s, background 0.8s;
          }

          &:nth-of-type(2) {
            width: 150px;
            padding-left: 0;
            padding-right: 0;
            margin-left: 24px;
          }
        }
      }
    }

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-box1 {
      padding-top: 120px;

      &-tit {
        font-family: 'PingFangSC-Medium';
        font-size: 32px;
        color: #333;
        text-align: center;
        line-height: 36px;
      }

      &-info {
        margin: 54px auto 0;
        width: 1182px;

        @include clearfix();

        &-item {
          position: relative;
          width: 285px;
          height: 203px;
          margin-left: 14px;
          margin-top: 14px;
          float: left;

          &:nth-of-type(1),
          &:nth-of-type(5) {
            margin-left: 0;
          }

          &-img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            border-radius: 4px;
          }

          &-loyer {
            position: absolute;
            z-index: 2;
            bottom: 0;
            height: 46px;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.67);
            overflow: hidden;
            border-radius: 0 0 4px 4px;
            transition: height 0.6s;

            &-tit {
              font-family: 'PingFangSC-Medium';
              font-size: 16px;
              color: #333;
              line-height: 46px;
              opacity: 1;
              transform: translateY(0);
              transition: all 0.6s;
            }

            &-txt {
              font-family: 'PingFangSC-Medium';
              font-size: 14px;
              color: #1b274b;
              text-align: center;
              line-height: 105px;
              margin-top: 16px;
              opacity: 0;
              transition: all 0s;
              transition-delay: 0s;
              transform: scale(0.8);
            }

            // &-2 {
            //   opacity: 0;
            //   transition: ease-out all 0.6s;
            // }
          }

          &:hover {
            & .evente-meetup-wrap-box1-info-item-loyer {
              height: 100%;
              border-radius: 4px;
            }

            & .evente-meetup-wrap-box1-info-item-loyer-tit {
              transform: translateY(63px);
            }

            & .evente-meetup-wrap-box1-info-item-loyer-txt {
              // transform: translateY(63px);
              opacity: 1;
              line-height: 105px;
              transition: all 0.1s;
              transition-delay: 0.5s;
              transform: scale(1);
            }
          }
        }
      }
    }

    &-box2 {
      padding: 120px 0;

      &-tit {
        font-family: 'PingFangSC-Medium';
        font-size: 32px;
        color: #1b274b;
        text-align: center;
        line-height: 36px;
      }

      &-info {
        width: 1200px;
        margin: 68px auto;

        @include clearfix();

        &-con {
          display: flex;
          position: relative;
          height: 334px;
          overflow: hidden;
          padding-left: 1px;

          @include clearfix();
        }

        &-item {
          width: 173px;
          height: 332px;
          border: 1px solid #ededed;
          background-color: #fff;
          margin-left: -1px;

          &-1 {
            height: 332px;

            &-icon {
              width: 43px;
              height: 43px;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              margin: 14px auto 12px;

              &-1 {
                background-image: url('~assets/images/pc/meetup/box2/icon1.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon1_hover.png');
                }
              }

              &-2 {
                background-image: url('~assets/images/pc/meetup/box2/icon2.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon2_hover.png');
                }
              }

              &-3 {
                background-image: url('~assets/images/pc/meetup/box2/icon3.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon3_hover.png');
                }
              }

              &-4 {
                background-image: url('~assets/images/pc/meetup/box2/icon4.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon4_hover.png');
                }
              }

              &-5 {
                background-image: url('~assets/images/pc/meetup/box2/icon5.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon5_hover.png');
                }
              }

              &-6 {
                background-image: url('~assets/images/pc/meetup/box2/icon6.png');

                &-hover {
                  background-image: url('~assets/images/pc/meetup/box2/icon6_hover.png');
                }
              }
            }

            &-tit {
              font-family: 'PingFangSC-Medium';
              font-size: 15px;
              color: #596075;
              line-height: 20px;
              text-align: center;
            }
          }

          &-jt {
            width: 49px;
            height: 4px;
            background: url('~assets/images/pc/meetup/box2/jt.png') no-repeat center center;
            background-size: contain;
            margin: 12px auto 33px;
          }

          &-2 {
            // display: none;
            opacity: 0;
            text-align: left;
            transition: opacity 0.3s;
            position: absolute;
            margin-left: -1px;
            width: 339px;
            height: 333px;
            border: 1px solid #1969f9;
            background-color: #fff;

            @include clearfix();

            &-icon {
              width: 43px;
              height: 43px;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              margin: 16px auto 0;
            }

            &-tit {
              font-family: 'PingFangSC-Medium';
              font-size: 15px;
              color: #1969f9;
              letter-spacing: 0;
              line-height: 20px;
              text-align: center;
              margin-top: 12px;
              transition: all 0.2s;
            }

            &-jt {
              height: 0;
              line-height: 0;
              border-top: 1px solid #f0f0f8;
              width: 84px;
              margin: 12px auto 38px;
            }
          }

          &:nth-of-type(1),
          &:nth-of-type(5) {
            & .evente-meetup-wrap-box2-info-item-list-data {
              padding-left: 44px;
            }
          }

          &:nth-of-type(2) {
            & .evente-meetup-wrap-box2-info-item-list-data {
              padding-left: 20px;
            }
          }

          &:nth-of-type(3) {
            & .evente-meetup-wrap-box2-info-item-list-data {
              padding-left: 37px;
            }
          }

          &:nth-of-type(4) {
            & .evente-meetup-wrap-box2-info-item-list-data {
              padding-left: 26px;
            }
          }

          &:nth-of-type(6) {
            & .evente-meetup-wrap-box2-info-item-list-data {
              padding-left: 18px;
            }
          }

          &-list {
            &-data {
              margin-bottom: 20px;
              color: #333;
              font-family: 'PingFangSC-Regular';
              font-size: 14px;
              line-height: 16px;

              @include clearfix();

              &::before {
                width: 6px;
                height: 6px;
                content: '';
                background: url('~assets/images/pc/meetup/box2/yuan.png') no-repeat center center;
                background-size: 100% 100%;
                display: block;
                float: left;
                margin-top: 5px;
                margin-right: 9px;
              }
            }

            .evente-meetup-wrap-box2-info-item-2 & &-data {
              &-1 {
                padding-left: 32px;
              }

              &-3 {
                padding-left: 30px;
              }

              &-4 {
                padding-left: 20px;
              }

              &-5 {
                padding-left: 36px;
              }

              &-6 {
                padding-left: 20px;
              }
            }
          }
        }

        &-active {
          width: 339px;
          height: 333px;
          background-color: #fff;
          margin-top: -1px;
          // transition: width 0.01s;

          & .evente-meetup-wrap-box2-info-item-1 {
            display: none;
          }

          & .evente-meetup-wrap-box2-info-item-2 {
            // display: block;
            opacity: 1;
            transition: opacity 0.3s;
          }

          & .evente-meetup-wrap-box2-info-item-2-tit {
            margin-top: 12px;
            transition: all 0.2s;
          }

          & .evente-meetup-wrap-box2-info-item-list {
            padding-left: 96px;
          }
        }
      }
    }

    &-box3 {
      width: 100%;
      padding: 80px 0 47px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 746px;

      &-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 2;
          background: rgba(67, 76, 89, 0.9);
          width: 100%;
          height: 100%;
          content: '';
        }

        &-1 {
          background-image: url('~assets/images/pc/meetup/box3/bg1.jpg');
        }

        &-2 {
          background-image: url('~assets/images/pc/meetup/box3/bg2.jpg');
        }

        &-3 {
          background-image: url('~assets/images/pc/meetup/box3/bg3.jpg');
        }

        &-4 {
          background-image: url('~assets/images/pc/meetup/box3/bg4.jpg');
        }

        &-5 {
          background-image: url('~assets/images/pc/meetup/box3/bg5.jpg');
        }

        &-6 {
          background-image: url('~assets/images/pc/meetup/box3/bg6.jpg');
        }
      }

      &-tit {
        font-family: 'PingFangSC-Medium';
        font-size: 32px;
        color: #fff;
        text-align: center;
        line-height: 36px;
        position: relative;
        z-index: 3;
      }

      &-info {
        width: 1180px;
        margin: 68px auto 0;
        position: relative;
        z-index: 3;

        @include clearfix();

        &-tab {
          float: left;
          border-right: 2px solid #66707f;
          position: relative;

          &-after {
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 4;
            height: 48px;
            width: 6px;
            background-color: #196ef9;
            display: block;
            transition: all 0.2s;
            // margin-top: -34px;
          }

          &-item {
            height: 48px;
            line-height: 48px;
            width: 310px;
            margin-top: 34px;
            font-family: 'PingFangSC-Regular';
            font-size: 16px;
            color: #fff;
            padding-left: 10px;
            // transition: all 0.1s;

            &-number {
              font-family: 'PingFangSC-Regular';
              font-size: 12px;
              color: #fff;
            }

            &-line {
              background: none;
              display: inline-block;
              height: 2px;
              width: 24px;
              vertical-align: middle;
              margin: -3px 8px 0;
              transition: all 0.2s;
            }

            &:nth-of-type(1) {
              margin-top: 0;
            }

            &-active {
              background-image: linear-gradient(90deg, rgba(42, 56, 91, 0) 0%, #131a2f 54%, #131a2f 100%);
              color: #196ef9;

              &-line {
                background: #196ef9;
              }

              & .evente-meetup-wrap-box3-info-tab-item-number {
                color: #196ef9;
              }
            }
          }
        }

        &-icon {
          padding-left: 99px;
          overflow: hidden;

          &-top {
            @include clearfix();

            &-img {
              &:nth-of-type(1) {
                width: 527px;
                height: 320px;
                margin-right: 19px;
                float: left;
              }

              &:nth-of-type(2) {
                width: 220px;
                height: 320px;
              }
            }
          }

          &-bot {
            width: 767px;
            height: 143px;
            line-height: 143px;

            &-img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    &-box4 {
      padding-top: 120px;
      padding-bottom: 96px;

      &-tit {
        font-family: 'PingFangSC-Medium';
        font-size: 32px;
        color: #1b274b;
        text-align: center;
        line-height: 36px;
      }

      &-txt {
        font-family: 'PingFangSC-Regular';
        font-size: 18px;
        color: #515f85;
        letter-spacing: 0;
        line-height: 22px;
        margin-top: 16px;
        text-align: center;
      }

      &-info {
        width: 1200px;
        margin: 56px auto 0;

        @include clearfix();

        &-item {
          width: 400px;
          height: 229px;
          float: left;
          text-align: center;
          border-radius: 4px;
          margin-top: 12px;
          transition: all 0.6s;

          &:hover {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
            // transition: all 0.2s;
          }

          &-icon {
            width: 80px;
            height: 80px;
            margin: 24px auto;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &-1 {
              background-image: url('~assets/images/pc/meetup/box4/icon1.png');
            }

            &-2 {
              background-image: url('~assets/images/pc/meetup/box4/icon2.png');
            }

            &-3 {
              background-image: url('~assets/images/pc/meetup/box4/icon3.png');
            }

            &-4 {
              background-image: url('~assets/images/pc/meetup/box4/icon4.png');
            }

            &-5 {
              background-image: url('~assets/images/pc/meetup/box4/icon5.png');
            }

            &-6 {
              background-image: url('~assets/images/pc/meetup/box4/icon6.png');
            }

            &-7 {
              background-image: url('~assets/images/pc/meetup/box4/icon7.png');
            }

            &-8 {
              background-image: url('~assets/images/pc/meetup/box4/icon8.png');
            }

            &-9 {
              background-image: url('~assets/images/pc/meetup/box4/icon9.png');
            }

            &-10 {
              background-image: url('~assets/images/pc/meetup/box4/icon10.png');
            }

            &-11 {
              background-image: url('~assets/images/pc/meetup/box4/icon11.png');
            }

            &-12 {
              background-image: url('~assets/images/pc/meetup/box4/icon12.png');
            }
          }

          &-tit {
            font-family: 'PingFangSC-Medium';
            font-size: 18px;
            color: #1b274b;
          }

          &-txt {
            font-family: 'PingFangSC-Regular';
            font-size: 14px;
            color: #515f85;
            text-align: center;
            margin-top: 12px;
            line-height: 20px;
          }
        }
      }
    }

    &-box5 {
      width: 100%;
      height: 352px;
      background: url('~assets/images/pc/meetup/box6/bg.png') no-repeat center top;
      background-size: cover;
      text-align: center;

      &-tit {
        font-family: 'PingFangSC-Regular';
        font-size: 30px;
        color: #fff;
        line-height: 42px;
        padding-top: 129px;
      }

      &-btn {
        background: #1969f9;
        border-radius: 4px;
        width: 180px;
        height: 54px;
        line-height: 54px;
        margin: 29px auto 0;
        font-family: 'PingFangSC-Medium';
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        transition: transform 0.6s, background 0.6s, opacity 0.6s;

        &:hover {
          background-color: #3c7ff8;
          transform: scale(1.02);
          transition: transform 0.6s, background 0.8s, opacity 0.8s;
        }
      }
    }
  }
}
